APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=

APP_LOCALE=
APP_FALLBACK_LOCALE=
APP_FAKER_LOCALE=

PHP_CLI_SERVER_WORKERS=
BCRYPT_ROUNDS=

LOG_CHANNEL=
LOG_STACK=
LOG_DEPRECATIONS_CHANNEL=
LOG_LEVEL=

DB_CONNECTION=

SESSION_DRIVER=
SESSION_LIFETIME=
SESSION_ENCRYPT=
SESSION_PATH=
SESSION_DOMAIN=

BROADCAST_CONNECTION=
FILESYSTEM_DISK=
QUEUE_CONNECTION=database

CACHE_STORE=

MAIL_MAILER=
MAIL_SCHEME=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

VITE_APP_NAME=
